#vbox1{
	-fx-background-color:rgba(0,0,0,1);/* 배경색 rgba(red,green,
	blue,투명도) */
}
#vbox2{
	-fx-background-color:linear-gradient(to right,#000000,
	#ffffff);/* 배경색을 시작색에서 부터 끝 색까지 진행방향으로 서서히 색상을 변화
	시키는 선형그라디언트 설정.to right 진행방향을 오른쪽으로 지정, */
}
#vbox3{
	-fx-border-color:skyblue;
	-fx-background-image:url("images/icon.gif");/*	배경이미지 */	
}
#vbox4{
	-fx-border-color:blue;
	-fx-background-image:url("images/icon.gif");
	-fx-background-repeat:no-repeat;/*배경이미지 반복하지 않음*/
}
#vbox5{
	-fx-border-color:blue;
	-fx-background-image:url("images/icon.gif");
	-fx-background-repeat:no-repeat;/*배경이미지 반복하지 않음*/
	-fx-background-position:center;/* 배경이미지 정중앙에 배치 */
}





