@charset "UTF-8";
/* welcome.jsp ui*/
/* 서브 메인이미지*/
#sub_img{
	width:971px;
	height:179px;
	background-image:url(../images/company/sub_back.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#sub_menu{
	width:238px;
	float: left;
	margin: 20px;
	font-family: verdana, Geneva, sans-serif;
	font-size: 1em;
}
#sub_menu ul{
	list-style: none;/*목록앞 점 없앰*/
	margin: 20px 0px 0px 10px;
}

#sub_menu a{
	text-decoration: none;
	color:#666;
	display: block;
	height: 15px;
	width: 150px;
	padding: 7px;
	border-bottom-width: 1px;/*밑줄선 두께*/
	border-bottom-style: dotted;/*밑줄선 스타일을 점선 */
	border-bottom-color: #999; /*밑줄선 색*/
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#sub_menu a:hover{
	background-image: url(../images/bullet_orange.gif);
	background-repeat: no-repeat;
	background-position: right center;
	color:#F90;
}
#wel_cont{
	border: 0px solid #ccc; float: right; width: 660px;
	padding-right: 30px; font-family: Verdana, Geneva, sans-serif;
	font-size:1em; line-height: 1.5em; /* 수직간의 문장 사이의 줄간격, 텍스트 문자 줄의 높이를 지정 */
}
#wel_cont h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 45px; color: #ccc; margin: 20px 0px;
	font-weight: normal;
	
}
#wel_cont p{padding-left: 10px;/*들여쓰기*/}
#wel_cont .ceo{
	float:right;
	margin: 5px;
}
#wel_cont .ceo_name{
	text-align: center; color: #39F;
}
/* history.jsp ui */
#wel_cont .y2011, #wel_cont .y2010, #wel_cont .y2009{
	border-top-width: 1px; /* 윗줄 선 두께 */
	border-top-style: solid; /*윗줄선 스타일을 실선*/
	border-top-color: #999; /*윗줄선 색*/
	padding:10px 0px 0px 150px;
}
/* 문제 ) #id 선택자 .클래스 선택자 h3으로 각각 한꺼번에 접근해서 년도문자를 화면에서 안보이게 하고 자리도 차지하지 않게
처리한다 . */
#wel_cont .y2011 h3, #wel_cont .y2010 h3, #wel_cont .y2009 h3 {
	display: none;
}
#wel_cont .y2011{
	background-image:url(../images/company/2011.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#wel_cont .y2010{
	background-image:url(../images/company/2010.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}#wel_cont .y2009{
	background-image:url(../images/company/2009.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#wel_cont .y2011 dt, #wel_cont .y2010 dt, #wel_cont .y2009 dt{
	text-transform: capitalize;/*첫글자만 영문대문자로 변경*/
	float: left;
	font-family: Tahoma,Geneva, sans-serif;
	font-size:15px; color: #39f; padding-top: 3px;
	margin: 0px;
}
#wel_cont .y2011 dd, #wel_cont .y2010 dd, #wel_cont .y2009 dd{
	padding: 0px 0px 0px 15px; line-height: 2em;
	background-image: url(../images/company/h_bullet.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
/* 문제) 월 단위 밑줄 점선을 점선색 #ccc 색상코드로 그려보자.*/
#wel_cont .y2011 dl, #wel_cont .y2010 dl, #wel_cont .y2009 dl{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
	margin:0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
}
/*문제)dot_none 클래스 선택자를 사용하여 밑줄 점선을 사라지게해보자
*/
#wel_cont dl.dot_none{
	border-bottom-style: none;
}